/* child login */
:root{
    /* Kleur */
    --primaryColor:#f26c45;
    --primaryVariationColor:#e26641;
    --secondaryColor:#9fa099;
    --secondaryVariationColor:#c1ceb0;
    --blackCustomColor:#000000;
    --whiteCustomColor:#ffffff;
    --greyCustomColor:#d5d2cd85;
    /* Font */
    --primaryFont:'YuGothicUI-Light', sans-serif;
    --secondaryFont:'YuGothicUI-Semibold', sans-serif;
    }

body.login {background-color: red;}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform {}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}