/*
     !! - Denk eraan dat de kleuren in de editor options en de css hetzelfde moeten zijn. - !!
*/
@font-face{
  font-family: 'YuGothicUI-Light';
  font-stretch: normal;
  font-display: swap;
  src: url('../fonts/subset-YuGothicUI-Light.woff2') format('woff2');
}

@font-face{
  font-family: 'YuGothicUI-Semibold';
  font-stretch: normal;
  font-display: swap;
  src: url('../fonts/subset-YuGothicUI-Semibold.woff2') format('woff2');
}

/* 
  ----------
  Variabelen
  ----------
*/
:root{
  /* Kleuren */
  --primaryColor:blue;
  --primaryVariationColor:#5c911b;
  --secondaryColor:#0073aa;
  --secondaryVariationColor:#0d3452;
  --blackCustomColor:#000000;
  --whiteCustomColor:#ffffff;
  --greyCustomColor:#d5d2cd;

  /* Fonts */
  --primaryFont:'Roboto', sans-serif;
  --secondaryFont:var(--primaryFont);

  /* Breedte wrapper, inner blocks en zoekveld wrap */
  --siteWidth: 1200px;

  /* .site-main margin boven en onder. Mobiel vanaf 768 */
  --siteContentMarginDesktop: 80px;
  --siteContentMarginMobile: 36px;

  /* Buttons */
  --buttonFontSize: 16px;
  --buttonPadding: 13px 26px;
  --buttonBorderRadius: 5px;
  --buttonColor: var(--whiteCustomColor);
  --buttonBackgroundColor: var(--primaryColor);
  --buttonHoverBackgroundColor: var(--primaryVariationColor);

  /* Blocks */
  --mediaTextBlockMarginBottom: 60px;
  --mediaTextBlockGap: 40px;

  /* Header */
  --siteTitleIconMaxHeight: 100px;
  --menuTextColor: var(--primaryColor);
  --menuFontSize: 16px;
  --menuLetterSpacing: 0;
  --menuCurrentItemColor: var(--secondaryColor);
  --menuTextTransform: inherit;
  --menuItemHoverColor: var(--blackCustomColor);
  --menuItemHoverBackground: inherit;
  --subMenuBackgroundColor: #eee;
  --subMenuBackgroundColorHover: #fefefe;
  --subMenuBackgroundColorOnScroll: #eee;
  --menuBackgroundColorMobile: #eee;
  --menuWidthOnScroll: 215px;
  --searchSubmitSVG: #000;
  --searchSubmitSVGHover: #000;

  /* Images */
  --siteMainFigureBorderRadius: 5px;

  /* Footer */
  --siteFooterIconMaxWidth: 40px;
  --footerBackgroundColor: var(--secondaryVariationColor);
  --siteFooterLinkColor: var(--secondaryColor);
  --siteFooterMadeByColor: var(--blackCustomColor);

  /* Post options */
  --showInfoAbovePost: none;
  --showInfoBelowPost: none;
  
}

.site-header .wrap .header-search {right: -31px;	}
.site-header.active .wrap .header-search.active {top: 34px;	}
.site-header .wrap {display: block}
.banner {max-height: 300px;}

.entry-content .wp-block-query ul{padding-left:0;}

.child-pages {display: grid;grid-template-columns: 1fr 1fr;gap: 60px;}
.child-pages .wp-block-media-text{gap: 30px;margin-bottom: 0;}
.child-pages .wp-block-buttons.is-content-justification-right{display:flex;}
.child-page{display:grid;grid-template-columns: 40% 1fr;}

/* fix voor object fill, bug(?) in 5.9 ivm inline-block op a */
.wp-block-query figure{margin-top: 0}
.wp-block-post-featured-image a {display:block;}
.wp-block-latest-posts__featured-image a {display: block;margin-bottom:1.2em}
.wp-block-latest-posts__featured-image img {height: 200px;width:100%;border-radius: var(--siteMainFigureBorderRadius)}
.wp-block-latest-posts.is-grid li {margin: 0 0em 1.25em 0;width: 100%;}
.wp-block-latest-posts__list a {font-size: 18px; font-weight: 700}


.reviews .wp-block-group__inner-container {gap: 25px;column-count: 1;}
/* column break fix voor chrome */
.reviews .wp-block-quote {background-color:var(--greyCustomColor);padding: 40px;border-radius: 5px;margin: 0;height: max-content;-webkit-column-break-inside: avoid;-moz-column-break-inside:avoid;-moz-page-break-inside:avoid;page-break-inside: avoid;break-inside: avoid-column;margin-bottom: 40px;}
.reviews .wp-block-quote p {font-size: 16px}
.reviews .wp-block-quote{background: transparent url(../svg/quote-oranje.svg) no-repeat top 10px left 10px;background-size:36px auto;padding-top:47px;text-align:left;background-color: var(--greyCustomColor);}
.reviews.wp-block-group{padding: 0}

.blogs h3{height: 50px}
.blogs .wp-block-post-template.is-flex-container {gap: 30px;}

.overmij-usp .wp-block-column {background-color: var(--greyCustomColor);  border-radius: 5px;  padding: 15px 30px;margin-bottom:32px}
.overmij-usp .wp-block-column:last-child{margin-bottom: 0}

.af-label{display:none;}
.acf-fields > .acf-field, .af-submit{padding: 15px 0;}
.af-input.acf-input input::placeholder {color: #000;opacity: 0.77;}

.site-footer { padding-top: 0;background-color: var(--whiteCustomColor);}
.site-footer .wp-block-group{padding-left: 0;padding-top: 0;padding-bottom: 0;margin-top: 0;margin-bottom: 0;}
.site-footer .footer-menu { grid-template-columns: 1fr 1fr;grid-template-rows:1fr}
.site-footer .footer-menu .widget:last-child{text-align: right;}
.site-footer .footer-menu .icon.icon-sustain-logo {max-width: 300px;}
.site-footer .socials-bar {padding:8px;margin-bottom:32px;background-color:var(--greyCustomColor);display: flex;flex-direction: row;justify-content:center;align-items:center;border-top: 1px solid var(--primaryColor);border-bottom: 1px solid var(--primaryColor);}
.site-footer .socials-bar .icon{height: 25px;}
.site-footer .socials-bar .widget{    margin: 10px 20px 10px 0;}
.site-footer .socials-bar .widget p{margin:0;height: 40px;width: 40px;background-color: #fff;border-radius: 50%;display: flex;justify-content: center;align-items: center;}
.site-footer .socials-bar .widget p a{line-height: 0;}
.site-footer .socials-bar .widget:last-child{margin-right:0}


@media (min-width:600px) {
  .blogs .wp-block-post-template.is-flex-container.is-flex-container.columns-3>li, .wp-block-query-loop.is-flex-container.is-flex-container.columns-3>li {width: calc(50% - 15px );}
  .wp-block-latest-posts.columns-3 li {width: calc(33.33333% - 2em);}
  .wp-block-latest-posts.is-grid li {margin: 0 3em 1.25em 0;}
}

@media (min-width: 769px) {
  .site-header .wrap {display: flex}
  .site-header .wrap .header-search {top: 100px;right:unset}
  .site-main {margin: var(--siteContentMarginDesktop) 0;}

  .reviews .wp-block-group__inner-container {gap: 40px;column-count: 2;}

  .blogs .wp-block-post-template.is-flex-container.is-flex-container.columns-3>li, .wp-block-query-loop.is-flex-container.is-flex-container.columns-3>li {width: calc(33.3333% - 40px);}
  .blogs .wp-block-post-template.is-flex-container {gap: 60px;}
}

@media (min-width: 782px) {
  .overmij-usp .wp-block-column{margin-bottom: 0}
}
