/* 
  Variabelen
*/
:root{
    /* Kleuren */
    --primaryColor:#f36b39;
    --primaryVariationColor:#f36b39;
    --secondaryColor:#a0a19b;
    --secondaryVariationColor:#0d3452;
    --blackCustomColor:#000000;
    --whiteCustomColor:#ffffff;
    --greyCustomColor:#fffef5;
    /* Fonts */
    --primaryFont:'Roboto', sans-serif;
    --secondaryFont:var(--primaryFont);
  
    /* Breedte wrapper, inner blocks en zoekveld wrap */
    --siteWidth: 1200px;
  
    /* .site-main margin boven en onder. Mobiel vanaf 768 */
    --siteContentMarginDesktop: 80px;
    --siteContentMarginMobile: 36px;
  
    /* Buttons */
    --buttonFontSize: 16px;
    --buttonPadding: 13px 26px;
    --buttonBorderRadius: 5px;
    --buttonColor: var(--whiteCustomColor);
    --buttonBackgroundColor: var(--primaryColor);
    --buttonHoverBackgroundColor: var(--primaryVariationColor);
  
    /* Header */
    --siteTitleIconMaxHeight: 100px;
    --subMenuBackgroundColor: #eee;
    --subMenuBackgroundColorHover: #fefefe;
    --subMenuBackgroundColorOnScroll: #eee;
    --menuBackgroundColorMobile: #eee;
    --menuWidthOnScroll: 215px;
  
    /* Footer */
    --siteFooterIconMaxWidth: 40px;
  }